p {
  line-spacing: 25px;
}

.description {
  font-size: 20px;
}

.regular {
  font-size: 15px;
}

.smallfont {
  font-size: 8px;
}
/* Colors */

.background {
  background-color: #efdfbb;
}

.navbar {
  background-color: #a5182d;
  font-weight: bold;
}

.footer {
  background-color: #a5182d!important;
  position: relative !important;
  width:100% !important; 
}

.invisible {
  visibility: hidden;
}

.pquote {
  float: right;
  width: 300px;
  color: rgb(78, 72, 47);
  font-family: 'Marck Script', cursive;  
  font-size: 25px;
  line-height: 1.2;
  margin: 0 3px 3px 0;
}

/* search form styling */

label.right {
  float: right;
}